@import "tailwindcss";

html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

*::-webkit-scrollbar {
    display: none; 
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}